Package: com.pxcex.bordericonplus
Name: BorderIcon+
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 0.0.2
Architecture: iphoneos-arm
Description: Customise color of your border color icon!
Maintainer: pxcex
Author: pxcex
Section: Tweaks
Depiction: https://paxcex.github.io/depictions/com.pxcex.bordericonplus/index.html
